*{
    margin: 0;
    padding: 0;
}
body{
    margin-left: 40px;
}
h1{
    text-align: center;
    margin-top: 40px;
    font-family: 'Rye';
    margin-bottom: 30px;
}
h2{
    font-size: 30px;
    text-align: center;
    padding: 10px;
    color: blue;
}
.sub{
    background-color: #C4C4C4;
    height: 60px;
    width: 1200px;
}

#button{
    background-color: blue;
    color: white;
    height: 70px;
    width: 140px;
    margin-left: 480px;
    border-radius: 20px;
    border: none;
    padding: 5px;
    margin-bottom: 50px;
}
#result{
    margin-left: 50px;
    color: brown;
    margin-top: 40px;
    font-size: 30px;
}
@media only screen and (max-width: 600px){
    body{
        float: left;
        margin-left: 2px;
    }
.sub{
    height: auto;
    width: auto;
}
#button{
    margin-left: 10px;
    margin-top: 30px;
}
}