* {box-sizing: border-box;}
html{
  border: 3px solid black;
  margin-left: 10px;
  margin-right: 10px;
}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font: 'poppins';
  height: auto;
}
.wr{
  background-color: white;
}
.bgc{
  background-image: -webkit-linear-gradient(150deg, #F6B400 52%, white 35%);
  min-height: 950px;
}
.header {
  overflow: hidden;
  padding: 20px 20px;
  display: inline;
}

.header a {
  float: center;
  color: black;
  text-align: left;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  margin-left: 29px;

}
.bur{
    font-style: italic;
    font-family: 'script';
    font-weight: 800;
    font-size: 30px;
}

.header a:hover {
  color: black;
  border-bottom: 5px solid red;
  width: 2px;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header{
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 3px solid transparent;
}
.p1{
    font-weight: bold;
    font-size: 30px;
    margin-left: 40px;
}
.img1{
    float: right;
    display: inline;
    height: 500px;
    width: 40%;
    margin-right: 70px;
    margin-top: 50px;
    
}
.p2{
    margin-left: 40px;
    margin-top: 40px;
}
nav {
  float: left;
  width: 30%;
  height: 500px; 
  padding: 20px;
  margin-left: 30px;
  margin-top: 60px;
}
.btn{
  margin-top: 90px;
  margin-left: 70px;
}
.button{
  cursor:pointer;
    position:relative;
    padding:10px 20px;
    background: orange;
    font-size:28px;
    border-top-left-radius: 25px;
    border-top-right-radius:25px;
    border-bottom-left-radius:25px;
    transition:all 1s;
}
article {
  float: left;
  padding: 20px;
  width: 100%;
  background-color: rgb(241, 247, 247);
  height: auto; /* only for demonstration, should be removed */
  margin-top: 40px;
}
section::after {
  content: "";
  display: table;
  clear: both;
}
.pn{
  margin-top: 30px;
  text-decoration: underline solid red 5px;
}
.box1{
  border-radius: 25px;
  border: 1px solid rgb(95, 25, 25);
  padding: 20px; 
  width: 300px;
  height: 300px;  
  margin-top: 50px;
  margin-left: 150px;
  margin-right: 10px;
  text-align: center;
  display: inline-block;
  margin-bottom: 30px;
  transition: transform .2s;
}
.box1:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}
.box2{
  border-radius: 25px;
  border: 1px solid rgb(95, 25, 25);
  padding: 20px; 
  width: 300px;
  height: 300px;  
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  display: inline-block;
  margin-bottom: 30px;
  transition: transform .2s;
}
.box2:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}
.box3{
  border-radius: 25px;
  border: 1px solid rgb(95, 25, 25);
  padding: 20px; 
  width: 300px;
  height: 300px;  
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  display: inline-block;
  margin-bottom: 30px;
  transition: transform .2s;
}
.box3:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}
.corner1 {
  border-radius: 25px;
  border: 1px solid lightgrey;
  padding: 20px; 
  width: 300px;
  height: 350px;  
  margin-top: 20px;
  margin-left: 160px;
  margin-right: 10px;
  text-align: center;
  display: inline-block;
  margin-bottom: 30px;
}
.corner2 {
  border-radius: 25px;
  border: 1px solid lightgrey;
  padding: 20px; 
  width: 300px;
  height: 350px;  
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  display: inline-block;
  margin-bottom: 30px;
}
.corner3 {
  border-radius: 25px;
  border: 1px solid lightgrey;
  padding: 20px; 
  width: 300px;
  height: 350px;  
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  display: inline-block;
  margin-bottom: 30px;
}
.corner4 {
  border-radius: 25px;
  border: 1px solid lightgrey;
  padding: 20px; 
  width: 300px;
  height: 350px;  
  margin-top: 20px;
  margin-left: 160px;
  margin-right: 10px;
  text-align: center;
  display: inline-block;
  margin-bottom: 50px;
}
.corner5 {
  border-radius: 25px;
  border: 1px solid lightgrey;
  padding: 20px; 
  width: 300px;
  height: 350px;  
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  display: inline-block;
  margin-bottom: 50px;
}
.corner6 {
  border-radius: 25px;
  border: 1px solid lightgrey;
  padding: 20px; 
  width: 300px;
  height: 350px;  
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  display: inline-block;
  margin-bottom: 50px;
}
.class4{
  height: 600px;
  width: auto;
  background-color: rgb(241, 247, 247);
}
.class5{
  height: 700px;
  width: auto;
  background-color: #F6B400;
}
.img2{
  float: right;
  display: inline;
  height: 500px;
  width: 250px;
  margin-right: 40px;
  margin-top: 50px;
}
.img3{
  float:right;
  display: inline;
  height: 500px;
  width: 250px;
  margin-right: 40px;
  margin-top: 50px;
  margin-left: 15px;
  display: inline-block;
}
.img4{
  float: right;
  height: 400px;
  width: 55%;
  margin-right: 40px;
  margin-top: 60px;
  display: inline;
}
.rad{
  margin-top: 70px;
}
.class6{
  height: 200px;
  width: auto;
  background-color: rgb(241, 247, 247);
}
.map{
  float: left;
  text-align: left;
}
.news{
  float: right;
  margin-top: 40px;
  margin-right: 40px;
}
.bur2{
    float: left;
    width: 30%;
    height: 180px; 
    padding: 20px;
    margin-left: 30px;
    margin-top: 40px;
}
#myinput{
  height: 40px;
  width: auto;
  color: black;
  background-color: rgb(241, 247, 247);
  border: 1px solid grey;
  margin-top: 20px;

}
#mybtn{
  display: inline;
  background-color: #F6B400;
  height: 40px;
  border: none;
  margin-top: 40px;
  color: white;
}
.footer{
  background: white;
  height: auto;
  width: 100vw;
  font-family: "open sans";
  padding-top: 40px;
  color: #fff;
}
.last{
  height: 50px;
  width: auto;
}
.footer-content{
text-align: left;
margin-top: 30px;
}
.footer-content a{
  margin-left: 40px;
  float:none
}
.foote p{
margin-left: 15px;
text-align: left;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}